%h1
  Images Collection made by refile gem

- @collections.each do |collection|
  %h3
    = link_to collection.name, collection
  %div
    = collection.description
    %br
    = "(#{collection.uploaded_files.count} items)"
